/*
    Arquivo CSS - Mini Projeto JavaScript - Módulo JavaScript
    Autor: Clausson Lucas
    Data: 29/04/2025
*/
/* reiniciar estilos */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;

}

body {
    width: 100%;
    height: 100vh;
    background-color: lightgray;
}

/* div container geral */
.container-geral {
    /* não coloquei width pois header e main tem larguras diferentes */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

}

header {
    width: 100%;
    height: 100px;
    background-color: darkred;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo {
    flex-grow: 1; /* combina com o flex-grow do #nome-app */
    display: flex; /* controla o que tem dentro da div */
    justify-content: center;
}

#nome-app {
    color: white;
    flex-grow: 3; /* combina com o flex-grow do #logo. 3 vezes maior */
    display: flex; /* controla o que tem dentro da div */
    flex-flow: column;
    align-items: center;
    font-weight: bold;
}
 /* barra de menu e pesquisa */
nav {
    width: 100%;
    height: 60px;
    display: flex;
    background-color: rgb(146, 36, 36);

}

/* div barra de pesquisa */
#div-pesquisa {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    
    padding: 10px 0px;
}

#estilo-pesquisa {
    width: 60%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
    border-radius: 5px;
    
}

#pesquisa {
    width: 400px;
    height: 100%;
    border: none;
    padding: 0 10px;
    margin: 0 5px;
}

#menus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 2;
}

#bot-link {
    margin-right: 40px;
}

.b-menu {
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 15px;
}

.b-menu:visited {color: white;}
.b-menu:hover {
    background-color: white;
    color: darkred;
    font-weight: bold;
}


/* container principal */
.container-princ {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
}

/* container lousa */
#lousa {
    width: 1000px;
    height: 500px;
    background-color: bisque;
    /*flex-grow: 3;  proporcao entre lousa e controles */
    margin: 20px 0;

    border: 10px solid brown;
}

#divLembretes ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 30px ;
}

#divLembretes ul li {
    width: calc(25% - 12px);
    background-color: white;
    padding: 20px;
    display: initial;


    display: flex;
    flex-flow: column nowrap;
    gap: 2px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgb(134, 134, 134);
}

#divLembretes ul li.oculto {
    display: none;
}

#lembrete > li > h4 {
    color: black;
}

#lembrete > li > p {
    color: rgb(80, 78, 78);
}


#lembrete > li > img {
    width: 15px;
    align-self: flex-end;
    cursor: pointer;
}


/* container controles */
#controles {
    width: 200px;
    height: 500px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;

    border: 2px solid #9c1818;
    margin: 20px 0;
}

/* botao criar */
#criar {
    background-color: rgb(141, 30, 30);
    color: white;
    font-weight: bold;
    padding: 15px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 5px;
}

#criar:hover {
    background-color: darkred;
    cursor: pointer;
}
/* fim - botao criar */

/* botões mudam cor */
#botoes {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

}

.cir-botao > button {
    width: 80px;
    background-color: #ffffff;
    border-color: brown;
    font-weight: bold;
    padding: 10px;
    margin: 20px 0;
}

.cir-botao > button:hover {
    background-color: brown;
    color: #ffffff;
}

/* div circulo e botao */
.cir-botao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

/* classe dos circulos */
#cir-marrom, #cir-branca, #cir-verde {
    background-color: #9c1818;
    width: 20px;
    height: 20px;
    border-radius: 10px;

}

#cir-marrom {
    background-color: bisque;
    border: 3px solid brown;

}

#cir-branca {
    background-color: lightgray;
    border: 3px solid gray;
}

#cir-verde {
    background-color: rgb(56, 95, 56);
    border: 3px solid rgb(68, 67, 67);
}

/* camada cinza */
#layer-cinza {
    width: 100%;
    height: 100vh;
    background-color: #00000090;
    position: fixed; /* combina com z-index */
    z-index: 1; /* combina com z-index - só em colocar position
                    a camada já ficou sobre toda a página*/
    display: none;
}

/* precisei criar o container e a div formulario */
#criarLembrete {
    background-color: aqua;
    display: flex;
    justify-content: center;
}

/* container formulario */
#cont-form {
    position: fixed;
    z-index: 2;
    margin-top: 150px;
    display: none;
}

/* div formulario */
#div-form {
    width: 350px;
    height: 300px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    padding-top: 25px;
        
}

#div-form > h3 {
    margin-bottom: 10px;
}

#div-form > label, input, textarea {
    width: 300px;
    margin-top: 10px;
    border-radius: 5px;
}

#div-form > input, textarea {
    border: 2px solid rgb(122, 97, 97);
}

#div-form > input:hover, textarea:hover {
    border: 2px solid darkred;
}

#div-form > input:focus,textarea:focus {
    border-color: darkred;
}

#div-form > input {
    height: 30px;
}

#div-form > textarea {
    height: 70px;

}

#btForm {
    width: 300px;
    height: 30px;
    background-color: rgb(141, 30, 30);
    color: white;
    font-weight: bold;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
}

#btForm:hover {
    background-color: darkred;
    cursor: pointer;
}

/* fim - container principal */

footer {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(146, 36, 36);
    color: white;
    font-weight: bold;
}